In [219]:
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]
출력 = ["#####","# # #", "### #", "# ##", "#####"]

In [151]:
arr3=[46, 33, 33 ,22, 31, 50]
arr4=[27 ,56, 19, 14, 14, 10]
출력=["######", "### #", "## ##", " #### ", " #####", "### # "]

In [281]:
'0b111010'[2:].replace('1','#').replace('00'," ").replace('0'," ").replace('2',"#")

309 ns ± 2.11 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

해결법  

2진법으로 이것 저것해보다가 더 하고 0 이외의 수는 #으로 치환하자는 해법이 나왔다. '1'만 #으로 하라는

In [359]:
#성공은함
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]
buk1 =[]
buk2 = []
result = []
re = []
for i,v in enumerate(arr1):
    buk1.append(bin(-v)[3:])
    buk2.append(bin(arr2[i])[2:])
for i,v in enumerate(buk):
    result.append(int(v)+int(buk2[i]))
for j in result:
    re.append(str(j).replace('1','#').replace('00'," ").replace('0'," ").replace('2',"#"))
re

['#####', '# # #', '### #', '# ##', '#####']

In [357]:
#두번째꺼 실패
arr1=[46, 33, 33 ,22, 31, 50]
arr2=[27 ,56, 19, 14, 14, 10]
buk1 =[]
buk2 = []
result = []
re = []
for i,v in enumerate(arr1):
    buk1.append(bin(-v)[3:])
    buk2.append(bin(arr2[i])[2:])
for i,v in enumerate(buk):
    result.append(int(v)+int(buk2[i]))
for j in result:
    re.append(str(j))
re

['12012', '121100', '21111', '11120', '2121']

In [307]:
arr2 = [30, 1, 21, 17, 28]
buk =[]
for i in arr2:
    buk.append(bin(i)[2:])
buk

['11110', '1', '10101', '10001', '11100']

문제점

진법 덧셈은 어떻게하지.... 문자열에서 정수로 변환만 가능하면 바로 풀릴 것 같은데 ...